header
{
    background-color: red;
    text-align: center;
    border: black;
    border-style: dotted;
}


body
{
    background-color: royalblue;
    border: greenyellow;
    border-style: groove;
}
h2
{
    color: silver;
    text-align: center;
}
p
{
    color: tan;
    text-align: center;
 
}
ul
{
    color: wheat;
    text-align: center;
    list-style: none;
}
img
{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
li{
    display: inline-block;
}
